<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="prepareias.tychestudios.com.prepareias" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="prepareias.tychestudios.com.prepareias.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CurrentAffairSectiom"
            android:label="@string/title_activity_current_affair_sectiom" >
        </activity>
    </application>

</manifest>
